#img-bg {
  background-image: url(https://cdnb.artstation.com/p/assets/images/images/024/538/827/original/pixel-jeff-clipa-s.gif?1582740711);

  height: 100vh;
  background-position: center;
  background-size: cover;
}

.nwc {
  color: #fbffff;
}

.dvbc {
  background-color: #000023;
}