<div class="container-fluid nwc dbbg">

  <div class="row d-flex align-items-center">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 cw">
          <h1 class="fs-54">
            seja bem vindo
          </h1>

          <h5 class="fs-18">
            expresse aqui os seus pensamentos
          </h5>

        </div>

      </div>

      <div class="row d-flex justify-content-center">
        <div class="col-md-6 mt-3 mb-5">
          <button class="dbc mr-2">
            Nova Postagem
          </button>
          <a class=" ml-2" href="">Ver Postagens</a>
        </div>

      </div>

    </div>

    <div class="col-md-6 d-flex justify-content-center">
      <img src="https://media.giphy.com/media/fA7rLtaJDIWEzU57CT/giphy.gif" alt="jhon" height="500px">
    </div>
  </div>

</div>